.category{
    width: 70%;
    margin-left: 15%;
    height: 8vh;
    background-color: rgb(27, 25, 25);
    display: flex;
    margin-top: 20px;
}

.category ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 1%;
    /* background-color: blue; */
}

.category ul li{
    width:fit-content;
    height: fit-content ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(234, 234, 234);
    padding: 8px 12px;
    cursor: pointer;
    background-color:rgb(39, 38, 38);
}

.category ul li:hover{
    color: greenyellow;
}

.categorycontainer{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    position: relative;
    margin: 40px 2.5% 0px;
    justify-content: space-between;
    background-color: rgb(27, 25, 25);
    padding-bottom: 30px;
    /* margin-bottom: 40px; */
    /* padding-left: calc(5%/6);  */
}

.categorycontainer .blocktitle{
    height: 6vh;
    margin-bottom: 25px;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(234, 234, 234);
    margin-top: 30px;
    margin-left:3.5%;
    /* background-color: red; */
}

.categorycontainer .cardscontainer{
    display: flex;
    flex-wrap: wrap;
    /* background-color: green; */
    width: 94%;
    margin-left: 3.5%;
}

.uploading{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(142, 140, 140);
    z-index: 9999;
    font-size: 30;
    opacity: 0.3;
}

.showmore{
    width: 92%;
    height: 4vh;
    /* margin-bottom: 40px; */
    margin-left: 3.5%;
    /* background-color: rebeccapurple; */
}

.showmore button{
    width: 8%;
    height: 100%;
    font-size: 20px;
    background-color: transparent;
    text-decoration: underline;
    border-width: 0px;
    letter-spacing: 1px;
    color: rgb(234, 234, 234);
}

.showmore button:hover{
    color: rgb(152, 150, 150);
}

@media(max-width:430px){
.category{
    width: 90%;
    margin-left: 5%;
    height: 6vh;
    background-color: transparent;
    margin-top: 10px;
}

.category ul{
    overflow: hidden;
    overflow-x: auto;
    margin-right: 0%;
}

.category ul li{
    font-size: 13px;
    padding: 6px 8px;
    cursor: pointer;
    flex-shrink: 0;
    background-color:rgb(39, 38, 38);
}

.categorycontainer{
    width: 95%;
    margin: 20px 2.5% 0px;
    padding-bottom: 20px;
}

.categorycontainer .blocktitle{
    height: 4vh;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 17px;
    margin-top: 15px;
    margin-left:3%;
}

.categorycontainer .cardscontainer{
    justify-content: space-between;
    width: 94%;
    margin-left: 3%;
}

.showmore{
    width: 92%;
    height: 3.8vh;
    display: flex;
    justify-content: center;
    margin-left: 3.5%;
    margin-top: 6px;
    /* background-color: rebeccapurple; */
}

.showmore button{
    width: 32%;
    font-size: 14px;
    font-weight: 600;
    background-color: green;
    text-decoration: none;
    border-radius: 20px;
}

.showmore button:hover{
    color: whitesmoke;
}
}