.widecard{
    width:99%;
    background-color: rgb(39, 38, 38);
    margin: 50px 0.3% 50px;
    display: flex;
    position: relative;
    /* background-color: rebeccapurple; */
}

.imgblock{
    width: 35%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 80vh;
    top:0px;
    /* background-color: gray; */
}

.preview{
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}

.preview .container{
    width: 60%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 178, 178);
    border-radius: 10px;
    border: 1px white solid;
    cursor: pointer;
}

.active{
    outline: 2px greenyellow solid;
}

.container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.imgcontainer{
    width: 88%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    /* background-color: rebeccapurple; */
}

.imgcontainer .widecardimg{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.widecardData{
    width:60%;
    margin-left: 2.5%;
    /* background-color: goldenrod; */
    color: rgb(234, 234, 234);
}

.widecardData .title{
    max-width: 94%;
    height: fit-content;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 18px;
    margin-top: 10px;
    /* background-color: blue; */
}

.price{
    width: fit-content;
    display: flex;
    align-self: flex-start;
    margin-top: 2%;
    /* background-color: rebeccapurple; */
    font-size: 14px;
    margin-top: 22px;
    color: white;
}

.price p{
    font-size: 28px;
    margin-left: 2px;
}

.colors, .size{
    font-size: 16px;
    width: fit-content;
    margin-top: 15px;
    /* background-color: yellowgreen; */
}

.colors span, .size span{
    text-transform: capitalize;
    color: white;
    font-weight: 550;
}

hr.card{
    border: none;
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
}

.widecardData .btns{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}


.cartbtn{
    width: 22%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border: 3px green solid;
    border-radius: 20px;
    /* background-color: rebeccapurple; */
}

.btns .addtocart{
    border: 0px;
}

.cartbtn button{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    color: whitesmoke;
}

.addtocart button{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    background-color: green;
    border-radius: 20px;
}

.cartbtn button svg{
    fill: whitesmoke;
    width: 35px;
    height: 35px;
}

.cartbtn button svg.trash{
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

.cartbtn p{
    width: 35%;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}


.btns .favbtn{
    width: fit-content;
    height: 75%;
    border-width: 0px;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 6%;
}

.favbtn svg{
    width: 35px;
    height: 35px;
}

.cartbtn svg{
    margin-right: 6px;
    width: 30px;
    height: 30px;
}

.moredetails{
    margin-top: 15px;
    width: 100%;
    /* background-color: brown; */
}

.moredetails ul{
    width: 97%;
    margin-left: 3%;
    margin-top: 15px;
    /* background-color: brown; */
}

.moredetails ul li{
    margin-bottom: 10px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
}

.uploading{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(142, 140, 140);
    z-index: 9999;
    font-size: 30;
    opacity: 0.2;
}

/* here is mobile version */

@media(max-width:430px){
    
    .widecard{
        width:98%;
        margin: 20px 1%;
        flex-direction: column;
        align-items: center;
        /* background-color: rebeccapurple; */
    }

    .imgblock{
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        position: relative;
        margin-bottom: 5px;
}
    
    .preview{
        width: 100%;
        height: 6%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        overflow-x: auto;
    }
    
    .preview .container{
        width: 10%;
        height: 100%;
        border-radius: 0px;
        margin-right: 6px;
        flex-shrink: 0;
        margin-bottom: 0px;
    }
    
    .container img{
        border-radius: 2px;
    }
    
    .imgcontainer{
        width: 100%;
        height:93%;
    }
        
    .widecardData{
        width:98%;
        margin-left: 0px;
    }
    
    .widecardData .title{
        max-width: 100%;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .price{
        margin-top: 10px;
        font-size: 10px;
        margin-top: 12px;
    }
    
    .price p{
        font-size: 18px;
        margin-left: 2px;
        margin-right: 1px;
        font-weight: 600;
    }
    
    .colors, .size{
        font-size: 13px;
        margin-top: 12px;
    }
    
    .widecardData .btns{
        height: 5vh;
        margin-top: 15px;
        margin-bottom: 12px;
    }
    
    .cartbtn{
        width: 25%;
        height: 85%;
    }
    
    .addtocart button{
        font-size: 14px;
    }
    
    .cartbtn p{
        font-size: 14px;
    }
    
    
    .btns .favbtn{
        width: fit-content;
        height: 80%;;
        margin-right: 2%;
    }
    
    .favbtn svg{
        width: 23px;
        height: 23px;
    }
    
    .moredetails{
        margin-top: 12px;
    }
    
    .moredetails ul{
        margin-top: 10px;
    }
    
    .moredetails ul li{
        font-size: 11px;
    }
}
